<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:5000/static/style.css">
</head>

<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">PinterestVideoDownloader</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link active-link">Home</a>
                    </li>
                    <!-- <li class="nav__item">
                        <a href="#about" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" class="nav__link">Services</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Contact us</a>
                    </li> -->

                </ul>
            </div>

            <!-- <div class="nav__toggle">
                <i class='bx bx-menu'></i>
            </div> -->
            <!-- <a href="#" class="button button_header">English</a> -->
            <select>
                <option value="1">English</option>
            </select>
        </nav>
    </header>
    <section class="home section" id="home">
        <div class="home__container container grid">


            <div class="aboutus__data">
                <h1 class="home__title">About Us</h1>
                <p>
                    Pinterest Video Downloader Website:


                    Pinterestvideodownload is a Free to use website that helps Pinterest users download their favorite
                    videos off Pinterest and save them for offline viewing by generating direct links to the Pinterest
                    video.
                    <br>
                    <br>
                    The videos are on Pinterest's servers and not ours, we do not save videos on our servers nor do
                    we
                    keep history of downloaded videos. Using Pinterestvideo is totally anonymous and safe.
                    <br>
                    <br>
                    We run Propeller Ads/Google Ads on our website, in order to feed our servers and keep
                    PinterestVideo alive. If you want to support us, just disable your AdBlocker while using
                    Pinterestvideo and we promise we only use safe & non intrusive ads.
                    <br>
                    <br>
                    If you have any questions or inquiries (suggestions, bug reports or advertisement proposals) please
                    use the form in the contact page.
                    <br>
                    <br>
                    Also, if you love our work, you can share it with your friends.
                </p>
            </div>
        </div>

    </section>
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="/" class="footer__logo">Home</a>

            </div>

            <div class="footer__content">
                <a href="aboutus.html" class="footer__logo">About Us</a>

            </div>

            <div class="footer__content">
                <a href="contactus.html" class="footer__logo">Contact Us </a>
            </div>

            <div class="footer__content">
                <a href="privacypolicy.html" class="footer__logo">Privacy Poilicy</a>
            </div>



        </div>
        <p class="footer__copy">
            PinterestVideo does not host any pirated or copyright content on its server,
            and all the videos that you download are downloaded to your system directly from their respective CDN
            servers.
        </p>

        <p class="footer__copy">&#169; raviprakash Landing Page. All right reserved</p>
    </footer>
</body>

</html>